{% load staticfiles%}
<!-- load legacy statics -->

<!-- Global variables -->
<script  type="text/JavaScript">var STATIC_URL = "{{ STATIC_URL|escapejs }}"; var APP_NAME="notfirstapp/";</script>

<!-- Temlatemo -->
<link href="{% static "notfirstapp/css/font-awesome.min.css"%}" rel="stylesheet"/>
<link href="{% static "notfirstapp/css/templatemo_style.css"%}" rel="stylesheet"/>
<link rel="stylesheet" href="{% static "notfirstapp/css/templatemo_misc.css"%}"/>

<!-- external libraries -->
<link href="{% static "notfirstapp/css/jquery.bxslider.css"%}" rel="stylesheet"/>
<link rel="stylesheet" href="{% static "notfirstapp/css/nivo-slider.css"%}"/>
<link rel="stylesheet" href="{% static "notfirstapp/css/slimbox2.css"%}" type="text/css" media="screen"/>
<!-- <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,600' rel='stylesheet' type='text/css'> -->




<script type="text/JavaScript" src="{% static "notfirstapp/js/slimbox2.js"%}"></script>

<!-- ddsmoothmenu -->
<link rel="stylesheet" type="text/css" href="{% static "notfirstapp/css/ddsmoothmenu.css"%}"/>
<script type="text/javascript" src="{% static "notfirstapp/js/ddsmoothmenu.js"%}"></script>

<script src="{% static "notfirstapp/js/jquery.nivo.slider.pack.js"%}"></script>
<script src="{% static "notfirstapp/js/jquery.singlePageNav.js"%}"></script>






















