{% load staticfiles%}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="OnPlay navbar and footer" content="">
		<meta name="Art" content="">
		<link rel="icon" href="../../favicon.ico">

		<title>OnPlay</title>

		<!-- Global variables -->
		<script  type="text/JavaScript">var STATIC_URL = "{{ STATIC_URL|escapejs }}"; var APP_NAME="notfirstapp/";</script>

		<script type="text/JavaScript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
		<script type="text/JavaScript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
		<script src="{% static "notfirstapp/bootstrap/js/bootstrap.min.js"%}"></script>
		<!-- Bootstrap core CSS -->
		<link href="{% static "notfirstapp/bootstrap/css/bootstrap.min.css"%}" rel="stylesheet"/>	
		<!-- Made it spacious, just because -->


		{% include 'notfirstapp/base2_legacy.html' %}

		<style>
			body {
				min-height: 100%;
				padding-top: 70px;
			}  
			/* Wrapper for page content to push down footer */
			#wrap {
				min-height: 100%;
				height: auto;
				
				/* Negative indent footer by its height */
				margin: 0 auto -60px;
				
				/* Pad bottom by footer height */
				padding: 0 0 60px;
			}
			
			.navbar {

				background:#e0e0e0;
			}
			
			footer{
				display:inline-block;
				width:100%;
				min-width:100%;
				padding-top:50px;
				/*padding-bottom:50px;*/
				/*min-height:300px;*/
				background:#e0e0e0;
			  }
		</style>


		{%block head%}
		
		{%endblock head%}
	</head>
  
	
	
	<body>

	<!-- Fixed navbar -->
	    <div class='container-fluid'>
	    	<div class='row'>
	    		<div class='xs-col-12'>
	    			<nav class="navbar navbar-default navbar-fixed-top">
				      <div class="container">
				        <div class="navbar-header">
				          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				            <span class="sr-only">Toggle navigation</span>
				            <span class="icon-bar"></span>
				            <span class="icon-bar"></span>
				            <span class="icon-bar"></span>
				          </button>
				          <a class="navbar-brand" href="{% url 'game:indexPage' %}"><b>OnPlay</b></a>
				        </div>
				        <div id="navbar" class="navbar-collapse collapse">
				          <ul class="nav navbar-nav navbar-left">	
							{%block home%}
								<li><a class="menu" href= "{% url 'game:indexPage' %}">Home</a></li>
							{%endblock home%}

							{%block about%}
								<li><a class="menu" href= "#templatemo_about">About</a></li>
							{%endblock about%}

							{%block game%}
								<li><a class="menu" href= "{% url 'game:GameGalleryPage' %}">Gallery</a></li>
							{%endblock game%}
						</ul>
							
						<ul class="nav navbar-nav navbar-right">	
							{%if user.is_authenticated%}
				                 <li><a class="menu" href=javascript:postProfilePage()> Hi, {{user.username}}</a></li>
				            {%endif%}
							
							{%if user.is_authenticated%}
								<li><a class="menu" href= "{% url 'game:GameManagePage' %}">MyGames</a></li>
								<li><a class="menu" href= "{% url 'game:LogoutPage' %}">Logout</a></li>
							{%else%}
								<li><a class="menu" href= "{% url 'game:LoginPage' %}">Login</a></li>
							{%endif%}
				          </ul>

				        </div><!--/.nav-collapse -->
				      </div>
				    </nav>
	    		</div>
	    	</div>
	    	<form action="{% url 'game:ProfilePage'%}" method='POST' id='ProfilePostForm' hidden>
				{%csrf_token%}
				<input type="hidden" name='user_id' value='{{user.id}}'>
			</form>
	    </div>
	
	    <!-- Place scripts here to load faster. -->
	
		<script type="text/JavaScript">
			function postProfilePage() {
				$('form#ProfilePostForm').submit();
			}
		</script>
	
		{%block content%}{%endblock content%}
		

		
		{%block tail%}
			<footer id="footer_sec">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
							<ul class="list-unstyled"> 
								<li><strong>Popular Pages</strong><li>
								<li><a href="">Home</a></li>
								<li><a href="">Gallery</a></li>
								<li><a href="">Asteroids</a></li>
								<li><a href="">My Games</a></li>
								<li><a href="">Sup</a></li>
							</ul>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
							<ul class="list-unstyled"> 
								<li><strong>Popular Catgories </strong><li>
								<li><a href="">Action</a></li>
								<li><a href="">Strategy</a></li>
								<li><a href="">Hello Kitty</a></li>
								<li><a href="">...</a></li>
								<li><a href="">Sup</a></li>
							</ul>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
							 <address> 
								<ul class="list-unstyled"> 
									<li><strong>Our Team</strong><li>
									<li>Ray</li>
									<li>Billy</li>
									<li>Art</li>
									<li>Andrew</li>
								</ul>
								<strong>Contact Us</strong>
								<br /> 
								<a href="mailto:#">first.last@example.com</a>
							 </address>
						</div>
					</div>
				</div>
			</footer>
	
	    <!-- load at the end for speed -->
		{%endblock tail%}
		{%block endscript%}{%endblock endscript%}

	

  </body>
</html>






















