{%extends 'notfirstapp/base2.html'%}
{%load staticfiles%}

{% block content %}
<h1>Welcome OnPlay blog!</h1>
	<br><br><br>

    {% if posts %}
        {% for post in posts %}
			<div style='background-color:#F2FAFF;margin-bottom:15px;'>
            <!-- <li><a href="{{ BASE_URL }}{{ post.get_absolute_url }}">{{ post.title }}</a></li> -->
			<h3>{{ post.title }}</h3>

            <!-- Date/Time -->
                <p><span class="glyphicon glyphicon-time"></span> {{ post.posted }}  by <a href="#">OnPlay Staff</a></p>
                <hr>
                <!-- Post Content -->
                <p style="color:#3B3B3B">{{ post.body }}</p>
                <hr>
			<!-- <p align="right">By OnPlay posted on {{ post.posted }}</p>-->
			</div>
        {% endfor %}
    {% else %}
        <p>There are no posts.</p>
    {% endif %}
	<nav>
	<div align="center">
  <ul class="pagination">
    <li><a href="#"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
  </ul>
  </div>
</nav>
	
{%endblock content%}

{%block endscript%}

{%endblock endscript%}

{%block about%}{%endblock about%}

