{%extends 'notfirstapp/base2.html'%}
{%load staticfiles%}

{% block content %}
<h1>Welcome OnPlay blog!</h1>
	<br><br><br>

    {% if page.object_list %}
        {% for post in page.object_list %}
			<div style='background-color:#F2FAFF;margin-bottom:15px;'>
            <!-- <li><a href="{{ BASE_URL }}{{ post.get_absolute_url }}">{{ post.title }}</a></li> -->
			<h3>{{ post.title }}</h3>

            <!-- Date/Time -->
                <p><span class="glyphicon glyphicon-time"></span> {{ post.posted }}  by <a href="#">OnPlay Staff</a></p>
                <hr>
                <!-- Post Content -->
                <p style="color:#3B3B3B">{{ post.body }}</p>
                <hr>
			<!-- <p align="right">By OnPlay posted on {{ post.posted }}</p>-->
			</div>
        {% endfor %}
    {% else %}
		<br>
        <p>There are no posts.</p>
    {% endif %}
	
	<div align='center'>
	{% if page.has_previous %}
		<a href = "?page={{ page.previous_page_number }}">Newer</a>
	{% endif %}
	
	| {{ page.number }} |

	{% if page.has_next %}
		<a href = "?page={{ page.next_page_number }}">Older</a>
	{% endif %}
	</div>
	<br>

	
{%endblock content%}

{%block endscript%}

{%endblock endscript%}

{%block about%}{%endblock about%}

