{%extends 'notfirstapp/base2.html'%}
{%load staticfiles%}

{% block content %}
<h1>Welcome OnPlay blog!</h1>
    <h2>Posts:</h2>
    {% if posts %}
        {% for post in posts %}
			<div style='background-color:#F2FAFF;margin-bottom:15px;'>
            <!-- <li><a href="{{ BASE_URL }}{{ post.get_absolute_url }}">{{ post.title }}</a></li> -->
			<h3>{{ post.title }}</h3>
			<p style="color:#3B3B3B">{{ post.body }}</p>
			<p align="right">By OnPlay posted on {{ post.posted }}</p>
			</div>
        {% endfor %}
    {% else %}
        <p>There are no posts.</p>
    {% endif %}

{%endblock content%}

{%block endscript%}

{%endblock endscript%}

{%block about%}{%endblock about%}

