{% load bootstrap3 %}
	{% if form%}
		<div class='media' style='background-color:#F2FAFF; padding:0.5em; margin-bottom:0.5em;'>
			<div class='media-left'>
				<a href="#" class='media-left'>
						<img src="{{user.onplayuser.avatar_url}}" alt="profile_image" >
						<p>{{user.onplayuser.nickname}}</p>
				</a>
			</div>
			<div class='media-body'>
				<form action="{%url 'game:CommentCreatePage'%}" method='POST' id="new_comment_form">
					{% csrf_token %}
					{% bootstrap_form form %}	
					{% buttons %}
				        <button onclick="return submitComment()" class="btn btn-primary" style='float:right'>
				            {% bootstrap_icon "star" %} Submit
				        </button>
				    {% endbuttons %}
				</form>
			</div>
		</div>
		<script type="text/javascript">
			function submitComment(){
				 // catch the form's submit event
				var form=$('form#new_comment_form');
			    $.ajax({ // create an AJAX call...
			        data: form.serialize(), // get the form data
			        type: form.attr('method'), // GET or POST
			        url: form.attr('action'), // the file to call
			        success: function(response) { // on success..
			            $('#div_commnet_list').html(response);// update the DIV
			            $('#div_commnet_list').children().unwrap();
		        	}
			    });
			    return false; // cancel original event to prevent form submitting
			}
		</script>
	{%else%}
	<div class='jumbotron'>
		<h3> no form</h3>
	</div>
	{%endif%}