{% if game%}
<!-- <script src="//code.jquery.com/jquery-1.11.0.min.js"></script> -->
<div class='panel panel-default col-xs-8 col-xs-offset-2' style='padding:0' id='div_commnet_list'>
	<div class='panel-heading'>
			<h3 class='panel-title'>User Comments:</h3>
	</div>
	<div class='panel-body'>
		{%if object_list%}
		<!-- <div class='row'> -->
			{% for comment in object_list%}
				<div class='media' style='background-color:#F2FAFF; padding:0.5em; margin-bottom:0.5em;'>
					<a href="#" class='media-left'>
						<img src="{{comment.fk_comment_poster.onplayuser.avatar_url}}" alt="profile_image" style="width:100px;height:100px;">
					</a>
					<div class='media-body'>
						<p style="color:#3B3B3B">
							{{comment.comment}}
						</p>
						<h5 class='media-heading' >
							by <a href="{% url 'game:ProfilePage' comment.fk_comment_poster.id%}">{{comment.fk_comment_poster.username}}</a> on {{comment.comment_time}}
						</h5>
					</div>
				</div>
			{%endfor%}
			{% endif%}
			<div align='center'>
		<!-- pagination -->
		{% if is_paginated %}
			<div class="pagination">
				<span class="page-links">
					{% if page_obj.has_previous %}
						<a href="javascript:jumpToPage({{ page_obj.previous_page_number }})">previous</a>
					{% endif %}
					<span class="page-current">
						| {{ page_obj.number }} | 
					</span>
					{% if page_obj.has_next %}
						<a href='javascript:jumpToPage({{ page_obj.next_page_number }})'>next</a>
					{% endif %}
				</span>
			</div>
		{% endif %}
		<!-- pagination -->
			{% if user.is_authenticated%}
			{%include 'notfirstapp/commentcreate.html' with user=user%}
			{% else%}
				{%include 'notfirstapp/loginpopup.html' with message="to make a new comment." %}
			{%endif%}
			
		<!-- </div> -->
	</div>
</div>
<script type='text/javascript'>
	function jumpToPage(nextPage){
		$.ajax({
			url:'{%url "game:CommentListPage" game.slug%}'+'?page='+nextPage,
			type:'GET',
			success:function(response){
				var wrapper=$('div#div_commnet_list')
				wrapper.html(response);
				wrapper.children().unwrap();
			},
		});
	}
</script>
{%endif%}

