{%extends 'notfirstapp/base2.html'%}
{%load staticfiles%}


{% block head %}
    <!-- CSS for the gallery -->
    <style type="text/css">
        .largeFont {
            font-size : 300%;
            font-weight : bold;
            color : black;
        }
        .im-centered { margin: auto; max-width: 370px;}

        .project {
            margin-bottom: 30px;
            vertical-align: top;
            margin-right: 30px;
            float: left;
            cursor: pointer;
            width: 100%;
        }

        .project figure {
            position: relative;
            display: inline-block;
            width: 283px;
            -moz-box-shadow: 0 3px 0 #e2e2e2, transparent 0 0 0;
            -webkit-box-shadow: 0 3px 0 #e2e2e2, transparent 0 0 0;
            box-shadow: 0 3px 0 #e2e2e2, transparent 0 0 0;
            -webkit-box-shadow: 0 3px 0 #e2e2e2;
            -moz-box-shadow: 0 3px 0 #e2e2e2;
            box-shadow: 0 3px 0 #e2e2e2;
        }

        .project figure figcaption {
            position: relative;
            z-index: 10;
            padding: 8px 18px 11px;
            background: #fff;
            -ms-transition: all .2s ease-out;
            -webkit-transition: all .2s ease-out;
            -moz-transition: all .2s ease-out;
            -o-transition: all .2s ease-out;
            transition: all .2s ease-out;
            text-align: left;
            color: #555;
        }

        .project figure:hover .actions {
            opacity: 1;
        }

        .project figure .actions {
            display: block;
            position: absolute;
            top: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            opacity: 0;
            background-color: rgba(29, 29, 29, .7);
            -ms-transition: all .2s ease-out;
            -webkit-transition: all .2s ease-out;
            -moz-transition: all .2s ease-out;
            -o-transition: all .2s ease-out;
            transition: all .2s ease-out;
        }

        .project figure img {
            border: 0;
            width: 100%;
        }

        .btn-warning bnt-action {
            margin: 0% 0% auto;
        }

        figcaption .project-details {
            display: block;
            font-size: 16px;
            line-height: 33px;
            color: #0093d0;
            height: 27px;
            width: 85%;
            margin-bottom: 5px;
            overflow: hidden;
        }
        figcaption .project-creator {
            font-size: 13px;
            color: #545454;
            display: block;
        }

        .project figure .actions button {
            padding: 13px 20px;
            font-size: 16px;
            top: 32%;
            position: absolute;
            left: 50%;
            width: 90%;
            margin-left: -45%;
            line-height: 18px;
            letter-spacing: 1px;
        }

        img.gameImg{
            max-height: 280px;
            max-width: 280px;
            width:280px;
            height:280px;
            overflow:hidden;
        }
    </style>
{% endblock head %}


{% block content %}
    <div class="container">
        <h5 class="largeFont im-centered ">Our Games Library</h5>
        <br><br>

        <div class="row">
            {% if game_list %}
                {% for game in game_list %}
                    {% if game %}
                        <div class="col-md-3 col-sm-4 col-xs-6">
                            <a href="{% url 'game:GamePlayPage' game.slug %}">
                                <div class="project">
                                    <figure class="img-responsive">
                                        {% if game.fk_image %}
                                            <img id='gameicon' class="gameImg" src="{{ game.fk_image.imagefile.url }}" alt="portfolio 1">
                                        {% else %}
                                            <img class="gameImg"src={% static "notfirstapp/images/portfolio/1.jpg" %} alt="portfolio 1">
                                        {% endif %}

                                        <figcaption>
                                            <span class="project-details">{{ game.gamename }}</span>
                                            <span class="project-creator">{{ game.get_avg_rating }}/10 rating</br> Played {{ game.played }} times</span>
                                        </figcaption>

                                    <span class="actions">
                                        <button onclick="location.href='{% url 'game:GamePlayPage' game.slug %}'"
                                                class="btn btn-warning bnt-action" href type="submit">Play
                                        </button>
                                    </span>
                                    </figure>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                </div>
                <div class='container-fluid'>
                    <div class='row'>
                        <div class='col-xs-8 col-xs-offset-2'>
                            <br><br>

                            <p>Sorry, no games in this list.</p>
                        </div>
                    </div>
                </div>

            {% endif %}

    </div>

<style type="text/css">
    #gameicon{
        max-width:100%;
    }
</style>
{%endblock content%}


{%block endscript%}
    <style>
        div#wrapper{
            margin-bottom: 0;
            padding-bottom: 0;
        }
    </style>
{%endblock endscript%}

