{%extends 'notfirstapp/base2.html'%}
{%block content%}

<div class='container-fluid'>
    <div class='row'>
        <div class='col-xs-10 col-xs-offset-1 jumbotron'>
            <form action="" method="post">
                <h3>Create New Game Record</h3>
                {% csrf_token %}
                <table class='table'>
                    {{ form.as_table }}
                </table>

                <input type="submit" value="Create" />
            </form>
        </div>
    </div>
<div>
{%endblock%}