{%extends "notfirstapp/base2.html"%}
{%load staticfiles%}
{%block content%}
	{% if game %}
	<div class='container-fluid'>
		<div class='r	ow'>
			<div class='col-xs-8 col-xs-offset-2 embed-responsive embed-responsive-16by9'>
				<iframe class='embed-responsive-item' src={{game.depolyed_path}} scrolling="no" frameborder="0"></iframe>
			</div>
		</div>

		{%include 'notfirstapp/commentlist.html'%}
	</div>
    {% else %}
	    <div class='container-fluid' style='margin-top:10%;'>
            <div class='row'>
                <div class='col-xs-8 col-xs-offset-2 jumbotron'>
                    <p>Sorry, we can't find the game.</p>
                </div>
            </div>
        </div>
	{% endif %}
{%endblock content%}

{%block about%}{%endblock about%}