{%extends "notfirstapp/bas2.html"%}
{%load staticfiles%}
{%block content%}
	{% if game %}
	<div class='container-fluid'>
		<div class='row '>
			<div class='col-xs-2'></div>
			<div id="gameinfo" class=' col-xs-8 jumbotron' style='margin-top:12%;'>
				<table class='table table-hover' style='vertical-align:center;'>
					<thead>
						<tr>
							<th>Game Info</th>
						</tr>
						<tr>
							<th class='col-xs-1'>Game Icon</th>
							<th class='col-xs-3'>Game Name</th>
							<th class='col-xs-3'>Create Time</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class='col-xs-1'>
								<img id="gameposter" src="{{game.fk_image.imagefile.url}}" alt={{game.fk_image.imagefile.name}} style="max-width:80px;">
							</td>
							<td class='col-xs-3' >{{game.gamename}}</td>
							<td>{{game.createTime}}</td>
						</tr>
					</tbody>
				</table>
				<!-- archives list -->
				<table class='table table-hover'>
					<thead>
						<tr>
							<th>Available_Archives</th>
						</tr>
					</thead>
					<tbody>
						{% for archive in available_archives%}
							<tr>
								<td class='col-xs-6'>{{archive.gamefile}}</td>
								<td class='col-xs-2'>{{archive.upload_time}}</td>
							</tr>
						{%endfor%}
					</tbody>
				</table>

				<table class='table table-hover'>
					<tr>
						<th>Actions</th>
					</tr>
					<tr>
						<td class='col-xs-2'>
							<a href="#Upload_Form" id='Upload_Button'>Upload Game</a>
						</td>
						<td class='col-xs-2'>
							<a href="{{back_url}}">BACK</a>
						</td>
					</tr>
				</table>
				<form action="{% url 'game:GameArchiveUploadPage'%}" method="post" enctype="multipart/form-data" hidden='1' id='Upload_Form'>
					{% csrf_token %}
					<table class='table'>
						<thead>
							<th>Game Upload Form</th>
						</thead>
						<tbody>
							{{ form.as_table }}
							<tr>
								<td></td>
								<td></td>
								<td><input type="submit" value="submit" /></td>
							</tr>
						</tbody>
    				
					</table>
				</form>
			</div>
		</div>



			


		</div>
	
    {% else %}
		<p>Error. Cannot find the game.</p>
	{% endif %}
{%endblock content%}


{%block endscript%}
	<script type="text/javascript">
		$(document).ready(function(){
				$('a#Upload_Button').click(function(){
					$('form#Upload_Form').removeAttr('hidden');
			});
		});
	</script>
{%endblock endscript%}

{%block about%}{%endblock about%}