{%extends "notfirstapp/base2.html"%}
{%load staticfiles%}
{%block content%}


<script type="text/javascript">


function favorite()
{
	var xmlhttp;
	if (window.XMLHttpRequest)
	  {// code for IE7+, Firefox, Chrome, Opera, Safari
	  xmlhttp=new XMLHttpRequest();
	  }
	else
	  {// code for IE6, IE5
	  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	  }

	var params =  new FormData();
	params.append('user', 'person');

	xmlhttp.onreadystatechange=function()
	  {
		if (xmlhttp.readyState==4 && xmlhttp.status==200 && xmlhttp.responseText == "Success")
		{
			document.getElementById("favoriteResponse").innerHTML="Added to favorite";
			document.getElementById("favorite").className = "alert alert-success";
			document.getElementById("unfavoriteButton").style.display="block";
			document.getElementById("favoriteButton").style.display="none";
		}
		else if (xmlhttp.readyState==4 && xmlhttp.status==200 && xmlhttp.responseText == "Login")
		{	unfavoriteButton 
			document.getElementById("favoriteResponse").innerHTML="Unable to favorite. Please log in"
			document.getElementById("favorite").className = "alert alert-danger";
		}
		else
		{
			document.getElementById("favoriteResponse").innerHTML="Unable to favorite unknown error"
			document.getElementById("favorite").className = "alert alert-danger";
		}
	  }
	xmlhttp.open("POST","../favorite/",true);
	xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
	xmlhttp.send("game={{game_slug}}&user={{user.id}}&csrfmiddlewaretoken={{ csrf_token }}");
}


function unfavorite()
{
	var xmlhttp;
	if (window.XMLHttpRequest)
	  {// code for IE7+, Firefox, Chrome, Opera, Safari
	  xmlhttp=new XMLHttpRequest();
	  }
	else
	  {// code for IE6, IE5
	  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	  }

	var params =  new FormData();
	params.append('user', 'person');

	xmlhttp.onreadystatechange=function()
	  {
		if (xmlhttp.readyState==4 && xmlhttp.status==200 && xmlhttp.responseText == "Success")
		{
			document.getElementById("favoriteResponse").innerHTML="Removed from favorite";
			document.getElementById("favorite").className = "alert alert-success";
			document.getElementById("favoriteButton").style.display="block";
			document.getElementById("unfavoriteButton").style.display="none";

		}
		else if (xmlhttp.readyState==4 && xmlhttp.status==200 && xmlhttp.responseText == "Login")
		{
			document.getElementById("favoriteResponse").innerHTML="Unable to favorite. Please log in"
			document.getElementById("favorite").className = "alert alert-danger";
		}
		else
		{
			document.getElementById("favoriteResponse").innerHTML="Unable to favorite unknown error"
			document.getElementById("favorite").className = "alert alert-danger";
		}
	  }
	xmlhttp.open("POST","../unfavorite/",true);
	xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
	xmlhttp.send("game={{game_slug}}&user={{user.id}}&csrfmiddlewaretoken={{ csrf_token }}");
}



$(function(){

    var currentValue = $('#currentValue');
    var rating = $('#rating');

    $('#defaultSlider').change(function(){
        currentValue.html(this.value);
        rating.val(this.value);     
    });

    $('#defaultSlider').change();
});
</script> 

		
<style scope>
    input[type='range'] {
    -webkit-appearance: none;
    border-radius: 5px;
    box-shadow: inset 0 0 5px #333;
    background-color: #999;
    height: 10px;
    vertical-align: middle;
    }
    input[type='range']::-moz-range-track {
    -moz-appearance: none;
    border-radius: 5px;
    box-shadow: inset 0 0 5px #333;
    background-color: #999;
    height: 10px;
    }
    input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    border-radius: 20px;
    background-color: #FFF;
    box-shadow:inset 0 0 10px rgba(000,000,000,0.5);
    border: 1px solid #999;
    height: 20px;
    width: 20px;
    }
    input[type='range']::-moz-range-thumb {
    -moz-appearance: none;
    border-radius: 20px;
    background-color: #FFF;
    box-shadow:inset 0 0 10px rgba(000,000,000,0.5);
    border: 1px solid #999;
    height: 20px;
    width: 20px;
    }
    
	.slider
	{
	    width: 200px !important;
	}

	.comment {
	    content: '\A';
	    white-space: pre;

	}

	.comment label{
	display:block;clear:both;
	}
</style>		


    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {

 	var data = google.visualization.arrayToDataTable([
		['Date', 'Visits'],
   	{% for visits in visit %}
	['{{visits.visit_time |date:"d M" }}', {{visits.play_count}}],

	{% endfor %}
        ]);

        var options = {
          title: 'Game played',
          hAxis: { title: 'Date', titleTextStyle: {color: '#333'}, slantedText: true,  slantedTextAngle: 180 },
          vAxis: {title: 'Game played',}
        };

        var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }

	$(function(){
	  $('#playgraph').on('hide.bs.collapse', function () {
	    $('#button').html('<span class="glyphicon glyphicon-collapse-down"></span> Show');
	  })
	  $('#playgraph').on('show.bs.collapse', function () {
	    $('#button').html('<span class="glyphicon glyphicon-collapse-up"></span> Hide');
	  })
	})
    </script>
	
	{% if game %}
	<div class='container-fluid'>
		<div class='row'>
			<div class='col-xs-8 col-xs-offset-2 embed-responsive embed-responsive-16by9'>
				<iframe class='embed-responsive-item' src={{game.depolyed_path}} style="overflow:hidden"></iframe>
			</div>
			
		</div>

		<div class="row">
			<div class='col-xs-8 col-xs-offset-2'>
			  <div class="col-xs-6 col-md-4">
				{% if ratings %}
					<p><b>Current Rating:</b> </br>{{rating}} by ratings {{ ratings }} users</p>	
				
				{% else  %}
					<b>Currently not rated yet</b>	
				{% endif %}
			</div>

			  <div class="col-xs-6 col-md-4">
					<div id="favorite" class="col-xs-6 col-md-4">
						<a id="favoriteRemove" href="#" class="close" data-dismiss="alert" style="display:none;"  >&times;</a>
						<p id="favoriteResponse"></p>
					</div>
				{% if favorite %}
					<button id="favoriteButton" type="button" onclick="favorite()" style="display:none;"> <i class="glyphicon glyphicon-heart"></i> Favorite</button>
					<button id="unfavoriteButton" type="button" onclick="unfavorite()" > <i class="glyphicon glyphicon-heart"></i> unFavorite</button>
				
				{% else  %}
					<button id="favoriteButton" type="button" onclick="favorite()"> <i class="glyphicon glyphicon-heart"></i> Favorite</button>
					<button id="unfavoriteButton" type="button" onclick="unfavorite()" style="display:none;"> <i class="glyphicon glyphicon-heart"></i> unFavorite</button>
				{% endif %}	


					
			</div>
				<div class="col-xs-6 col-md-4">
					<p style="float:right;">
						<b>Number of times played:</b> {{played }}
					</p>
				</div>
			</div>
		</div>





		<div class='row'>
			
			{% if rate_warning %}
		    <div class="alert alert-danger">
		        <a href="#" class="close" data-dismiss="alert">&times;</a>
		        <strong>Error!</strong> Need to be logged in to rate
		    </div>
			{% endif %}
					
				
			<div data-role="main"  class='col-xs-8 col-xs-offset-2'>
			    <form action="./{{game}}" method="post">
			       {% csrf_token %}
			      <label for="points">Rating: <span id="currentValue">0</span></label>
					<input class="slider" id="defaultSlider" type="range" min="0" max="10" />
					<input type="hidden" id="rating" name="rating" value="-3">
					<input style="margin-top:6px;margin-bottom:15px;" type="submit" data-inline="true" name="action"  value="Rate">
			    </form>
			</div>
		</div>
		<div class='row'>
			<div class='col-xs-8 col-xs-offset-2'>
				<button id="button" type="button" class="btn btn-primary" 
				  data-toggle="collapse" data-target="#playgraph">
				  <span class="glyphicon glyphicon-collapse-down"></span> Show Graph
				</button>
				<div id="playgraph" class="collapse">
					<div id="chart_div" style="width: 400px; height: 300px;"></div>
				</div>	
			</div>
		</div>

	</div>

	<div class='fluid-container' id='comment_list_container'>
		
	</div>
	<script type="text/javascript">
		$(document).ready(function(){
			$.ajax({
				type:'GET',
				url:'{%url 'game:CommentListPage' game.slug%}',
				success:function(response){
					$('div#comment_list_container').html(response);
				},
			});
		});
	</script>

    {% else %}
	    <div class='container-fluid' style='margin-top:10%;'>
            <div class='row'>
                <div class='col-xs-8 col-xs-offset-2 jumbotron'>
                    <p>Sorry, we can't find the game.</p>
                </div>
            </div>
        </div>
	{% endif %}
{%endblock content%}

{%block about%}{%endblock about%}
