{%extends 'notfirstapp/base2.html'%}
{%load staticfiles%}
    <!-- List of uploaded documents -->


{%block content%}
<div class="container">
    <div class='row ' >
        <div class='col-xs-12 page-header' style='margin-top:0'>
                <h2>Our Game Library</h2>
                <small>You can manage all your games here</small>
        </div>
    </div>
    <div class='row'>
        <div class="bb-alert alert alert-info" style="display:none;">
            <span>The examples populate this alert with dummy content</span>
        </div>
        {% if game_list %}
            <table class='table table-hover'>
                <thead>
                    <tr>
                        <th class='col-xs-1'>Game Logo</th>
                        <th class='col-xs-2'>Game Name</th>
                        <th>Path</th>
                        <th>Upload Time</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for game in game_list %}
                        <tr>
                            <td>
                                <a href="" class='thumbnail' style='margin-bottom:0;background:lightgrey'>
                                    <img src={{game.fk_image}} alt="Logo here" class='img-rounded'>
                                </a>
                            </td>
                            <td style='vertical-align:middle'>
                                {{game.gamename}}
                            </td>
                            <td style='vertical-align:middle'>
                                {{game.depolyed_path}}
                            </td>
                            <td style='vertical-align:middle'>
                                {{game.createTime}}
                            </td style='vertical-align:middle'>
                            <td style='vertical-align:middle'>
                                <!-- Single button -->
                                <div class="btn-group">
                                  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    Actions <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu" role="menu" style='padding-bottom:0; width:20px;'>
                                    <li><a href="#">Update</a></li>
                                    <li><a href="#">Depoly</a></li>
                                  <!--   <li>
                                        <a href=javascript:toComfirmDel('{{game.gamename}}',{{game.id}}) class='btn btn-danger' role='btn' style='text-align:left'> Delete</a>
                                    </li> -->
                                    <li>
                                        <a href=javascript:toComfirmDel_v2('{{game.gamename}}',{{game.id}}) class='btn btn-danger' id="delete_link" role='btn' style='text-align:left'> Delete</a>
                                    </li>
                                  </ul>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <a href={%url 'game:GameFormPage'%} class='btn btn-success'>New game</a>
                        </td>
                    </tr>
                </tbody>

            </table>
        {% else %}
            <li>Sorry, no game in this list.</li>
        {% endif %}
    </div>
</div>

<div>
    
</div>

{%endblock content%}

{%block endscript%}
<script src={% static 'notfirstapp/Bootbox/Notification.js'%}></script>
<script src={% static 'notfirstapp/Bootbox/bootbox.min.js'%}></script>
<script type="text/javascript">
    $(function() {
        Notification.init({
            "selector": ".bb-alert"
        });
    });
</script>
<script type="text/javascript">
    function toComfirmDel(gamename,game_id){
        var rval = confirm("Are you sure to delete '"+gamename+"'?");
        if (rval == true) {
            alert("Deleted");
        } else {
            alert("Nothing is changed");
        } 
    }

    function toComfirmDel_v2(gamename,game_id){
        bootbox.dialog({
            message: "Are you sure to delete "+ gamename + " ?",
            title: "Dangerous",
            buttons: {
                success: {
                    label: "Cancel!",
                    className: "btn-success",
                    callback: function() {
                        $(this).modal('hide');
                        Notification.show('Nothing changed.')
                    }
                },
                danger: {
                    label: "Delete!",
                    className: "btn-danger",
                    callback: function() {
                        Notification.show("uh oh, look out!");
                    }
                },
            }
        });         
    }

</script>
{%endblock endscript%}

{%block tail%}
    <style>
        #delete_link:hover{
            background-color: #d9534f;
            margin: 2px;
        }
    </style>
{%endblock tail%}

{%block about%}{%endblock about%}