{%extends 'notfirstapp/base2.html'%}
{%load staticfiles%}
    <!-- List of uploaded documents -->


{%block content%}
<!-- Update Depoly_Path Modal -->
<div class="modal fade" id="updateDepoly" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="exampleModalLabel">Depoly Game</h4>
            </div>
            <div class="modal-body">
                <form role="form" action="{% url 'game:GameDeployPage' %}" id="DeployForm" method='post'>
                    {%csrf_token%}
                    <div class="form-group">
                        <!-- <label for="game-name" class="control-label">Game Name:</label> -->
                        <input type="hidden" class="form-control" id="game-slug" readonly>
                    </div>
                    <div class="form-group">
                        <label for="game-name" class="control-label">Game Name:</label>
                        <input type="text" class="form-control" id="game-name" readonly>
                    </div>
                    <div class="form-group">
                        <label for="depoly-url" class="control-label">Depoly URL:</label>
                        <textarea class="form-control" id="depoly-url" required></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick='$(".modal form#DeployForm").submit()'>Deploy</button>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class='row ' >
        <div class='col-xs-12 page-header' style='margin-top:0'>
                <h2>My Game Library</h2>
                <small>You can manage all your games here</small>
        </div>
    </div>
    <div class='row'>
        <div class="bb-alert alert alert-info" style="display:none;">
            <span>The examples populate this alert with dummy content</span>
        </div>
        {% if game_list %}
            <table class='table table-hover'>
                <thead>
                    <tr>
                        <th class='col-xs-1'>Game Logo</th>
                        <th class='col-xs-2'>Game Name</th>
                        <th>Path</th>
                        <th>Upload Time</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for game in game_list %}
                        <tr>
                            <td>
                                <a href="" class='thumbnail' style='margin-bottom:0;background:lightgrey'>
                                    <img src={{game.fk_image}} alt="Logo here" class='img-rounded'>
                                </a>
                            </td>
                            <td style='vertical-align:middle'>
                                {{game.gamename}}
                            </td>
                            <td style='vertical-align:middle'>
                                {{game.depolyed_path}}
                            </td>
                            <td style='vertical-align:middle'>
                                {{game.createTime}}
                            </td style='vertical-align:middle'>
                            <td style='vertical-align:middle'>
                                <!-- Single button -->
                                <div class="btn-group">
                                  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    Actions <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu" role="menu" style='padding-bottom:0; width:20px;'>
                                    <li><a href="#">Update</a></li>
                                    <li><a href="#" data-toggle="modal" data-target="#updateDepoly" data-slug="{{game.slug}}" data-game="{{game.gamename}}">Depoly</a></li>
                                  <!--   <li>
                                        <a href=javascript:toComfirmDel('{{game.gamename}}',{{game.id}}) class='btn btn-danger' role='btn' style='text-align:left'> Delete</a>
                                    </li> -->
                                    <li>
                                        <a href=javascript:toComfirmDel_v2('{{game.gamename}}',{{game.id}}) class='btn btn-danger' id="delete_link" role='btn' style='text-align:left'> Delete</a>
                                    </li>
                                  </ul>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <a href={%url 'game:GameFormPage'%} class='btn btn-success'>New game</a>
                        </td>
                    </tr>
                </tbody>

            </table>
        {% else %}
        <ul>
            <li>Sorry, we cannot find any game for you.</li>
            <li>Why don't you create a <a href={%url 'game:GameFormPage'%} class='btn btn-success'>New Game</a>.</li>
        </ul>
            
        {% endif %}
    </div>
</div>

<div>
    
</div>

{%endblock content%}

{%block endscript%}
<script type='text/javascript'>
    $(document).ready(
            function(){
                $('#updateDepoly').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget); // Button that triggered the modal
                var gamename = button.data('game'); // Extract info from data-* attributes
                // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                var modal = $(this);
                modal.find('.modal-title').text('New depoly-url ' + gamename);
                modal.find('.modal-body input#game-name').val(gamename);
                modal.find('.modal-body input#game-slug').val(button.data('slug'));
            });
        });
</script>

<script src={% static 'notfirstapp/Bootbox/Notification.js'%}></script>
<script src={% static 'notfirstapp/Bootbox/bootbox.min.js'%}></script>
<script type="text/javascript">
    $(function() {
        Notification.init({
            "selector": ".bb-alert"
        });
    });
</script>
<script type="text/javascript">
    function toComfirmDel(gamename,game_id){
        var rval = confirm("Are you sure to delete '"+gamename+"'?");
        if (rval == true) {
            alert("Deleted");
        } else {
            alert("Nothing is changed");
        } 
    }

    function toComfirmDel_v2(gamename,game_id){
        bootbox.dialog({
            message: "Are you sure to delete "+ gamename + " ?",
            title: "Dangerous",
            buttons: {
                success: {
                    label: "Cancel!",
                    className: "btn-success",
                    callback: function() {
                        $(this).modal('hide');
                        Notification.show('Nothing changed.')
                    }
                },
                danger: {
                    label: "Delete!",
                    className: "btn-danger",
                    callback: function() {
                        Notification.show("uh oh, look out!");
                    }
                },
            }
        });         
    }

</script>

<style>
        #delete_link:hover{
            background-color: #d9534f;
            margin: 2px;
        }
</style>


{%endblock endscript%}





{%block about%}{%endblock about%}










