{%extends 'notfirstapp/base2.html'%}
{%load staticfiles%}

{%block head%}
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.0/jquery-ui.js"></script>
  <script type="text/javascript" src="{%static 'coverflow/jquery.coverflow.js'%}"></script>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

    <!-- Style for the popular games container and heading. -->
	<style type="text/css">
        .popularGames {
            padding-top:40px;
            padding-bottom:40px;
            background:#e0e0e0;
        }
        .largeFont {
            font-size : 300%;
            font-weight : bold;
            color : black;
        }
    </style>

     <!-- Style for the most popular games carousel. -->
    <style type="text/css">
        .carousel {
            margin-bottom: 0;
            padding: 0 40px 30px 40px;
        }

            /* The controlsy */
        .carousel-control {
            left: -12px;
            height: 40px;
            width: 40px;
            background: none repeat scroll 0 0 #222222;
            border: 4px solid #FFFFFF;
            border-radius: 23px 23px 23px 23px;
            margin-top: 90px;
        }
        .carousel-control.right {
            right: -12px;
        }

            /* The indicators */
        .carousel-indicators {
            right: 50%;
            top: auto;
            bottom: -10px;
            margin-right: -19px;
        }

            /* The colour of the indicators */
        .carousel-indicators li {
            background: #cecece;
        }
        .carousel-indicators .active {
            background: #428bca;
        }

        .topGameContainer {
            margin-left: auto;
            margin-right: auto;
            width: 80%;
            margin-bottom: 50px;
        }

        .im-centeredToo { margin: auto; max-width: 100px;}
        .topGamesBackgroundContainer {
            background: #e0e0e0;
        }

        img.spotlight {
            max-height: 500px;
            max-width: 500px;
            height: 300px;
            min-width: 200px;

            overflow:hidden;
        }
        img.topGame {
            max-height: 330px;
            max-width: 330px;

            overflow:hidden;
        }

        /* Old... looked brokenish for me still - Art.
        img.spotlight {
            max-height: 500px;
            max-width: 500px;
        }
        img.topGame {
            max-height: 330px;
            max-width: 330px;
        }
        */
    </style>

    <!-- Style for the developer info -->
    <style type="text/css">
        #quote-carousel {
            padding: 0 10px 30px 10px;
            margin-top: 30px;
            /* Control buttons  */
            /* Previous button  */
            /* Next button  */
            /* Changes the position of the indicators */
            /* Changes the color of the indicators */
        }
        #quote-carousel .carousel-control {
            background: none;
            color: #CACACA;
            font-size: 2.3em;
            text-shadow: none;
            margin-top: 30px;
        }
        #quote-carousel .carousel-control.left {
            left: -60px;
        }
        #quote-carousel .carousel-control.right {
            right: -60px;
        }
        #quote-carousel .carousel-indicators {
            right: 50%;
            top: auto;
            bottom: 0px;
            margin-right: -19px;
        }
        #quote-carousel .carousel-indicators li {
            width: 50px;
            height: 50px;
            margin: 5px;
            cursor: pointer;
            border: 4px solid #CCC;
            border-radius: 50px;
            opacity: 0.4;
            overflow: hidden;
            transition: all 0.4s;
        }
        #quote-carousel .carousel-indicators .active {
            background: #333333;
            width: 150px;
            height: 150px;
            border-radius: 100px;
            border-color: #f33;
            opacity: 1;
            overflow: hidden;
        }
        .carousel-inner {
            min-height: 300px;
        }
        .item blockquote {
            border-left: none;
            margin: 0;
        }
        .item blockquote p:before {
            content: "\f10d";
            font-family: 'Fontawesome';
            float: left;
            margin-right: 10px;
        }
        .devInfo {
            margin-left: auto;
            margin-right: auto;
            width: 60%;
        }
        .developersInfoBackgroundContainer {
            background: burlywood;
        }
    </style>

    <link rel="stylesheet" href="{% static 'rateit/rateit.css'%}">
{%endblock head%}

{%block content%}
    <div class='container-fluid'
         style="background-image:url({% static 'notfirstapp/images/top_background_image.jpg' %});background-size: auto 100%;padding-top:1px;padding-bottom:1em;">
        <h3 class='popGames' style='text-align:center;color:#f7f7f7;font-size: 300%'>SPOTLIGHT GAMES</h3>
        <br>
        <div class='row coverflow'>
            {% for game,rate in spotlight_games_rate_list %}
                <div class='col-xs-6 col-sm-6 col-md-3 cover'>
                    <div class='row' style='border:2px solid #DDDDDD'>
                        <a href="#">
                            <img class='spotlight' src="{{ game.fk_image.imagefile.url }}" alt="Game Image">
                        </a>
                    </div>


                    <div class='row'>
                            <div class="im-centered">
                            <a href="{% url 'game:GamePlayPage' game.slug %}">
                                <h3 id="gameName" style='color:#f7f7f7;font-weight:bold;font-size:250%;text-align: center;'>Click-> {{ game.gamename }} <--Click</h3></a>
                             </div>
                             <div class="im-centeredToo">
                            <div class="rateit" data-rateit-value="{{ rate }}" data-rateit-ispreset="true"
                                 data-rateit-readonly="true"></div>
                            </div>

                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


    <div class="topGamesBackgroundContainer">
        <br><br>
        <div class="topGameContainer">
            <h3 class='largeFont' style='text-align:center'>Most Popular Games</h3>

            <div class="col-md-12">
                <div class="row">
                    <div id="Carousel" class="carousel slide">

                        <ol class="carousel-indicators">
                            <li data-target="#Carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#Carousel" data-slide-to="1"></li>
                        </ol>

                        <!-- Carousel items -->
                        <div class="carousel-inner">

                            <div class="item active">
                                <div class="row">
                                    {% if game_list %}
                                        {% for game in game_list %}
                                            {% if game.fk_image %}
                                                <div class="col-md-3">
                                                    <a href="{% url 'game:GamePlayPage' game.slug %}" class="thumbnail">
                                                        <img class="topGame" src="{{ game.fk_image.imagefile.url }}" alt="Image"
                                                             style="max-width:100%;" width="300" height="300">
                                                    </a>
                                                </div>


                                            {% else %}
                                                <div class="col-md-3">
                                                    <a href="{% url 'game:GamePlayPage' game.slug %}" class="thumbnail">
                                                        <img class="topGame" src="{% static "notfirstapp/images/portfolio/1.jpg" %}"
                                                             alt="Image" style="max-width:100%;" width="300" height="300">
                                                    </a>
                                                </div>

                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <!--.row-->
                            </div>
                            <!--.item-->

                            <div class="item">
                                <div class="row">
                                    {% if game_list %}
                                        {% for game in game_list %}
                                            {% if game.fk_image %}
                                                <div class="col-md-3">
                                                    <a href="{% url 'game:GamePlayPage' game.slug %}" class="thumbnail">
                                                        <img class="topGame" src="{{ game.fk_image.imagefile.url }}" alt="Image"
                                                             style="max-width:100%;" width="300" height="300">
                                                    </a>
                                                </div>


                                            {% else %}
                                                <div class="col-md-3">
                                                    <a href="{% url 'game:GamePlayPage' game.slug %}" class="thumbnail">
                                                        <img class="topGame" src="{% static "notfirstapp/images/portfolio/1.jpg" %}"
                                                             alt="Image" style="max-width:100%;" width="300"
                                                             height="300">
                                                    </a>
                                                </div>

                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <!--.row-->
                            </div>
                            <!--.item-->

                        </div>
                        <!--.carousel-inner-->
                        <a data-slide="prev" href="#Carousel" class="left carousel-control">‹</a>
                        <a data-slide="next" href="#Carousel" class="right carousel-control">›</a>
                    </div>
                    <!--.Carousel-->

                </div>
            </div>
        </div>
        <!--.container-->


        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>



    <div class="developersInfoBackgroundContainer">
        <br><br>
        <h3 class='largeFont' style='text-align:center'>About The Developers</h3>
        <div class="container devInfo">
            <div class="row">
                <div class="col-md-12" data-wow-delay="0.2s">
                    <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                        <!-- Bottom Carousel Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#quote-carousel" data-slide-to="0" class="active">
                                <img class="img-responsive "
                                     src="{% static 'notfirstapp/images/devImages/andrew.JPG'%}">
                            </li>
                            <li data-target="#quote-carousel" data-slide-to="1">
                                <img class="img-responsive"
                                     src="{% static 'notfirstapp/images/devImages/ray.JPG'%}">
                            </li>
                            <li data-target="#quote-carousel" data-slide-to="2">
                                <img class="img-responsive"
                                     src="{% static 'notfirstapp/images/devImages/artaches.JPG'%}">
                            </li>
                            <li data-target="#quote-carousel" data-slide-to="3">
                                <img class="img-responsive"
                                     src="{% static 'notfirstapp/images/devImages/billy.JPG'%}">
                            </li>
                        </ol>

                        <!-- Carousel Slides / Quotes -->
                        <div class="carousel-inner text-center">

                            <!-- Quote 1 -->
                            <div class="item active">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-sm-8 col-sm-offset-2">

                                            <p>4rth year SFU student who's about to graduate and be released into the wild..</p>
                                            <small>Andrew Yip</small>
                                            <br><br><br><br><br>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                            <!-- Quote 2 -->
                            <div class="item">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-sm-8 col-sm-offset-2">

                                            <p> The coding power house behind this website</p>
                                            <small>Rui Zheng (Ray)</small>
                                            <br><br><br><br><br>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                            <!-- Quote 3 -->
                            <div class="item">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-sm-8 col-sm-offset-2">

                                            <p>Guy who made this page</p>
                                            <small>Artaches Ambartsoumian</small>
                                            <br><br><br><br><br>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                            <!-- Quote 3 -->
                            <div class="item">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-sm-8 col-sm-offset-2">
                                            <p>Born and raised on the North Shore, I enjoy walking the seawall, working
                                                out, going for drinks with friends. I love to cook and try new recipes,
                                                but I also like going out for a nice meal. Family is important to me,
                                                I’m really close with mine.
                                                I have an adorable cat that takes up way too much of the bed than should
                                                be possible.i</p>
                                            <small>Wen Liu (Billy)</small>
                                            <br><br><br><br><br>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                        </div>

                        <!-- Carousel Buttons Next/Prev -->
                        <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i
                                class="fa fa-chevron-left"></i></a>
                        <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i
                                class="fa fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>


        <br><br>
    </div>












{%endblock content%}

{%block endscript%}
    <!-- Script for the spotlight games slidey thing. -->
    <script>
        $(function () {
            $('.coverflow').coverflow();
        });
    </script>

    <!-- Script for the top games carousel. -->
    <script>
        $(document).ready(function () {
            $('#Carousel').carousel({
                interval: 5000
            })
        });
    </script>
<script src="{% static 'rateit/jquery.rateit.min.js'%}"></script>

{%endblock endscript%}

{%block home%}
  <li><a class="menu" href= "#">Home</a></li> 
{%endblock home%}



















