{%extends 'notfirstapp/base2.html'%}
{%load staticfiles%}

{%block head%}
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.0/jquery-ui.js"></script>
  <script type="text/javascript" src="{%static 'coverflow/jquery.coverflow.js'%}"></script>	

    <!-- Style for the popular games container and heading. -->
	<style type="text/css">
        .popularGames {
            padding-top:40px;
            padding-bottom:40px;
            background:#e0e0e0;
        }
        .popGames {
            font-size : 300%;
            font-weight : bold;
            color : black;
        }
    </style>

     <!-- Style for the most popular games carousel. -->
    <style type="text/css">
        .carousel {
            margin-bottom: 0;
            padding: 0 40px 30px 40px;
        }

            /* The controlsy */
        .carousel-control {
            left: -12px;
            height: 40px;
            width: 40px;
            background: none repeat scroll 0 0 #222222;
            border: 4px solid #FFFFFF;
            border-radius: 23px 23px 23px 23px;
            margin-top: 90px;
        }

        .carousel-control.right {
            right: -12px;
        }

            /* The indicators */
        .carousel-indicators {
            right: 50%;
            top: auto;
            bottom: -10px;
            margin-right: -19px;
        }

            /* The colour of the indicators */
        .carousel-indicators li {
            background: #cecece;
        }

        .carousel-indicators .active {
            background: #428bca;
        }

        .topGameContainer {
            margin-left: auto;
            margin-right: auto;
            width: 80%;
        }

        .im-centered { margin: auto; max-width: 90px;}
        .im-centeredToo { margin: auto; max-width: 100px;}
    </style>

    <link rel="stylesheet" href="{% static 'rateit/rateit.css'%}">
{%endblock head%}

{%block content%}


    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class='container-fluid'
         style="background-image:url({% static 'notfirstapp/images/top_background_image.jpg' %});padding-top:50px;padding-bottom:150px;">
        <div class='row coverflow'>
            {% for game in game_list %}
                <div class='col-xs-6 col-sm-6 col-md-3 cover'>
                    <div class='row' style='border:2px solid #DDDDDD'>
                        <a href="#">
                            <img class='' src="{{ game.fk_image.imagefile.url }}" alt="Game Image" style='width:100%;'>
                        </a>
                    </div>


                    <div class='row'>
                            <div class="im-centered">
                            <a href="{% url 'game:GamePlayPage' game.slug %}">
                                <h3 id="gameName" style='color:black;font-weight:bold;'>{{ game.gamename }}</h3></a>
                             </div>
                             <div class="im-centeredToo">
                            <div class="rateit" data-rateit-value="{{ ratings }}" data-rateit-ispreset="true"
                                 data-rateit-readonly="true"></div>
                            </div>

                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <br><br>

    <div class="topGameContainer">

        <h3 class='popGames' style='text-align:center'>Most Popular Games</h3>


        <div class="col-md-12">
            <div class="row">
                <div id="Carousel" class="carousel slide">

                    <ol class="carousel-indicators">
                        <li data-target="#Carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#Carousel" data-slide-to="1"></li>
                    </ol>

                    <!-- Carousel items -->
                    <div class="carousel-inner">

                        <div class="item active">
                            <div class="row">
                                {% if game_list %}
                                    {% for game in game_list %}
                                        {% if game.fk_image %}
                                            <div class="col-md-3">
                                                <a href="{% url 'game:GamePlayPage' game.slug %}" class="thumbnail">
                                                    <img src="{{ game.fk_image.imagefile.url }}" alt="Image"
                                                         style="max-width:100%;" width="500" height="500">
                                                </a>
                                            </div>


                                        {% else %}
                                            <div class="col-md-3">
                                                <a href="{% url 'game:GamePlayPage' game.slug %}" class="thumbnail">
                                                    <img src="{% static "notfirstapp/images/portfolio/1.jpg" %}"
                                                         alt="Image" style="max-width:100%;" width="500" height="500">
                                                </a>
                                            </div>

                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <!--.row-->
                        </div>
                        <!--.item-->

                        <div class="item">
                            <div class="row">
                                {% if game_list %}
                                    {% for game in game_list %}
                                        {% if game.fk_image %}
                                            <div class="col-md-3">
                                                <a href="{% url 'game:GamePlayPage' game.slug %}" class="thumbnail">
                                                    <img src="{{ game.fk_image.imagefile.url }}" alt="Image"
                                                         style="max-width:100%;" width="500" height="500">
                                                </a>
                                            </div>


                                        {% else %}
                                            <div class="col-md-3">
                                                <a href="{% url 'game:GamePlayPage' game.slug %}" class="thumbnail">
                                                    <img src="{% static "notfirstapp/images/portfolio/1.jpg" %}"
                                                         alt="Image" style="max-width:100%;" width="500" height="500">
                                                </a>
                                            </div>

                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <!--.row-->
                        </div>
                        <!--.item-->

                    </div>
                    <!--.carousel-inner-->
                    <a data-slide="prev" href="#Carousel" class="left carousel-control">‹</a>
                    <a data-slide="next" href="#Carousel" class="right carousel-control">›</a>
                </div>
                <!--.Carousel-->

            </div>
        </div>
    </div><!--.container-->


  <!--
  <div class='container-fluid popularGames' style='margin-bottom:20px;'>
    <div class='row'>
      <div class='col-xs-10 col-xs-offset-1'>
        <div class='row'>
          <div class='col-xs-12' style='text-align:center'>
            <h3 class='popGames'>Most Popular Games</h3>
          </div>
        </div>
        <div class='row'>
          <div class="container-fluid">  
            {%if game_list%}
            <style type="text/css" scoped>
              img.gameIcon{
                width: 100%;
                border: 2px solid rgb(0,172,233);
                /*height: 204px;*/
              }
            </style>
            {%for game in game_list%}
              <div class="col-xs-6 col-sm-6 col-md-3 templatemo_col12" >
                <div class="portfolio-item">
                  <div class="portfolio-thumb">
                    {%if game.fk_image%}
                    <img class='gameIcon' src="{{game.fk_image.imagefile.url}}" alt='gameIcon'>
                    <div class="overlay-p">
                      <a >
                        <ul>
                          <li>{{game.gamename}}</li>
                          <li class="fa fa-circle"></li>
                          <li class="fa fa-circle fsmall"></li>
                          <li class="fa fa-circle"></li>
                          <li class="fa fa-circle fsmall"></li>
                          <li class="fa fa-search fa-2x"></li>
                        </ul>
                      </a>
                    </div>
                    {%else%}
                    <img src="{% static "notfirstapp/images/portfolio/1.jpg"%}" alt='gameIcon' >
                    <div class="overlay-p">
                      <a href="{% static "notfirstapp/images/portfolio/1.jpg"%}" data-rel="lightbox[portfolio]">
                        <ul>
                          <li>Rotary</li>
                          <li class="fa fa-circle"></li>
                          <li class="fa fa-circle fsmall"></li>
                          <li class="fa fa-circle"></li>
                          <li class="fa fa-circle fsmall"></li>
                          <li class="fa fa-search fa-2x"></li>
                        </ul>
                      </a>
                    </div>
                    {%endif%}
                </div>
              </div>

            {%endfor%}
            {%endif%}
            </div>
        </div>
        <div class='row'>
          <div class='col-xs-10 col-xs-offset-1' style='text-align:center'>
            <a class="btn btn-large btn-primary" href= "#">View More</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="clear"></div>
  -->
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

{%endblock content%}

{%block endscript%}
    <!-- Script for the spotlight games slidey thing. -->
    <script>
        $(function () {
            $('.coverflow').coverflow();
        });
    </script>

    <!-- Script for the top games carousel. -->
    <script>
        $(document).ready(function () {
            $('#Carousel').carousel({
                interval: 5000
            })
        });
    </script>
<script src="{% static 'rateit/jquery.rateit.min.js'%}"></script>

{%endblock endscript%}

{%block home%}
  <li><a class="menu" href= "#">Home</a></li> 
{%endblock home%}



















