{%extends 'notfirstapp/base2.html'%}
{% load staticfiles%}
{% load pdbDebug %}


{%if player%}
{%block content%}
{% with profile_image=player.profileimage nickname=player.nickname targertuser=player.user%}

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages: ["corechart"]});
        google.setOnLoadCallback(drawChart);
        function drawChart() {

            var data = google.visualization.arrayToDataTable([
                ['Date', 'Games'],
                {% for visits in visit %}
                    ['{{visits.visit_time |date:"d M" }}', {{visits.play_count}}],

                {% endfor %}
            ]);

            var options = {
                title: 'Game played',
                hAxis: { title: 'Date', titleTextStyle: {color: '#333'}, slantedText: true, slantedTextAngle: 180 },
                vAxis: {title: 'Game played', slantedText: true, slantedTextAngle: 180},
                'width': 450,
                'height': 200
            };

            var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }

        $(function () {
            $('#myTab a:first').tab('show')
        })
    </script>

        <!-- Style for the game image -->
    <style type="text/css">
        .gameImage {
            

            max-height: 330px;
            max-width: 330px;

            overflow: hidden;
        }

        #favorite {
            padding:5px;
            border:1px solid #021a40;
        }
    </style>


	<div class='container-fluid' style='margin-top:2em'>
		<div class='row'>
			<div class='col-xs-8 col-xs-offset-2 jumbotron'>
				{%if is_updated%}
					<div class="alert alert-success alert-dismissible" role="alert">
						<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<strong>Well done!</strong> You successfully updated your profile. </div>
				{%endif%}
				<div class='col-xs-3'>
					<a href="#" class='thumbnail'>
						<img class='img-circle' src="{{player.avatar_url}}" alt="Profile Image" style='width:100px;height:auto;'>
					</a>
					<div class="btn-group col-xs-10 col-xs-offset-1" style='padding-left:0;padding-right:0;'>
					  <button type="button" class="btn btn-primary dropdown-toggle col-xs-12" data-toggle="dropdown" aria-expanded="false">
					    Action <span class="caret"></span>
					  </button>
						  <ul class="dropdown-menu" role="menu">
						    {%if user == player.user %}
							    <li><a href="{%url 'game:ProfileUpdatePage' player.id%}">Update</a></li>
							    <li class="divider"></li>
						    	<li><a href="#" class='btn btn-danger' role='btn'>Deactivate</a></li>
						    {%else%}
						    	<li><a href="#">Add as Friend</a></li>
						    {% endif %}
						  </ul>
					</div>
				</div>
				<div class='col-xs-9'>
					<h3 style='font-size:30px'>User Profile</h3>


				<ul class="nav nav-tabs" role="tablist" id="myTab">
				  <li role="presentation" class="active"><a href="#Overview" aria-controls="Overview" role="tab" data-toggle="tab">Overview</a></li>
				  <li role="presentation"><a href="#play" aria-controls="play" role="tab" data-toggle="tab">Play Data</a></li>
				  <li role="presentation"><a href="#favorite" aria-controls="favorite" role="tab" data-toggle="tab">Favorite</a></li>
				</ul>

				<div class="tab-content">
				  <div role="tabpanel" class="tab-pane active" id="Overview">
				
					<table class='table-striped'>
						<tbody style='border-top:1px solid rgb(221,221,221);'>
							<tr>
								<td class='col-xs-1'>
									<h4>OnPlay ID:</h4>
								</td>
								<td class='col-xs-3'> 
									<h4>{{player.nickname}}</h4>
								</td>
							</tr>
							<tr>
								<td class='col-xs-1'>
									<h4>Last Login</h4>
								</td>
								<td class='col-xs-3'>
									<h4>{{player.user.last_login|date:" D d M Y"}}</h4>
								</td>
							</tr>
							<tr>
								<td class='col-xs-1'>
									<h4>Date Joined</h4>
								</td>
								<td class='col-xs-3'>
									<h4>{{player.user.date_joined|date:" D d M Y"}}</h4>
								</td>
							</tr>
							<tr>
								<td class='col-xs-1'>
									<h4>Last Played</h4>
								</td>
								<td class='col-xs-3'>
									<h4>{{last.fk_game }} at {{last.visit_time|date:" r"}}</h4>
								</td>
							</tr>

							<tr>
								<td class='col-xs-1'>
									<h4>Total game played</h4>
								</td>
								<td class='col-xs-3'>
									<h4>{{gameplayed}}</h4>
								</td>
							</tr>
						</tbody>
					</table>

				</div>
				  <div role="tabpanel" class="tab-pane" id="play">
					<div id="chart_div" style="width: inherit; height: 100%;"></div>
				</div>
				  <div role="tabpanel" class="tab-pane" id="favorite">
					<table class='table-striped'>
						<tbody style='border-top:1px solid rgb(221,221,221);'>
						{% for favorites in favorite %}
                            <tr>
                                <td class='col-xs-1'>
                                    <p>{{ favorites.fk_game }}</p>
                                    <small>You Played This Game <b>{{ favorites.get_play_count }}</b> times</small>
                                </td>

                                <td class='col-xs-3'>
                                    <a href="{% url 'game:GamePlayPage' favorites.fk_game.slug %}">
                                        <img class="gameImage"  src="{{ favorites.fk_game.fk_image }}" alt="Game Image"width="128" height="128">
                                    </a>
                                </td>
                            </tr>

                        {% endfor %}
                        </tbody>
					</table>			
				</div>
				</div>

				</div>
				
			</div>
		</div>
	</div>
{%endwith%}
{%endblock%}
{%endif%}
