{%extends 'notfirstapp/base2.html'%}
{% load bootstrap3 %}

{%block content%}
<div class='panel panel-default col-xs-8 col-xs-offset-2' style='padding:0;margin-top:2em;'>
	<div class='panel-heading'>
			<h3>Update User Profile</h3>
	</div>
	<div clsss='row'>
		<div class='col-xs-12 panel-body'>
			<div id='update_result'></div>
			<form action="" method="POST" class="form" id="update_profile_form" onsubmit='return sumbitUpdate()'>
			{% csrf_token %}
			{% bootstrap_form_errors form %}
			{% bootstrap_form form %}
			{% buttons %}
		    <button type='submit' class="btn btn-primary">
		      {% bootstrap_icon "star" %} Submit
		    </button>
		    {% endbuttons %}
		</form>
		</div>
	</div>
</div>
<script type="text/javascript">
	function sumbitUpdate(){
		var form=$('form#update_profile_form');
		var result=form.submit();
		// $.ajax({
		// 	data: form.serialize(), // get the form data
	 //        type: 'POST', // GET or POST
	 //        url: form.attr('action'), // the file to call
	 //        success: function(response) { // on success..
	 //        	$('div#update_result').html('<div class="alert alert-success alert-dismissible" role="alert">Update Scucceed</div>');
	 //            // $('#div_commnet_list').html(response);// update the DIV
	 //            // $('#div_commnet_list').children().unwrap();
  //       	},
  //       	fail: function(response) {
  //       		$('div#update_result').html('<div class="alert alert-danger alert-dismissible" role="alert">Oh snap! Change a few things up and try submitting again.'+response+'</div>');
  //       	}
		//     });
		// };
		return false;
	}
</script>


{%endblock content%}
